<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-downloadmanager" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>DownloadManager</name>
	<js-module name="DownloadManager" src="www/DownloadManager.js">
		<clobbers target="cordova.plugins.DownloadManager" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="DownloadManager">
				<param name="android-package" value="cordova-plugin-downloadmanager.DownloadManager" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		</config-file>		
		<source-file src="src/android/DownloadManager.java" target-dir="src/cordova-plugin-downloadmanager/DownloadManager" />
		<source-file src="src/android/DownloadControllerSingleton.java" target-dir="src/cordova-plugin-downloadmanager/DownloadManager" />
		<source-file src="src/android/Downloader.java" target-dir="src/cordova-plugin-downloadmanager/DownloadManager" />		
	</platform>
</plugin>